.menu-toggler {
    $root: &;

    .menu-toggler__hamb {
        padding: 0;
        font: inherit;
        color: $color-text;
        text-transform: none;
        background: 0 0;
        border: 0;
        margin: 0;
        overflow: visible;
        transition-property: opacity;
        transition-duration: .15s;
        transition-timing-function: linear;
        &__box {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 44px;
            height: 46px;
        }
        &__inner {
            display: block;
            width: 23px;
            background-color: $color-white;

            &:before, &:after {
                content: "";
                display: block;
                background-color: inherit;
                width: 23px;
                height: 2px;
                border-radius: 0;
                position: absolute;

                transition-property: transform;
                transition-duration: .15s;
                transition-timing-function: ease;
            }
            &:before {
                top: -5px;

                transition: top .1s .14s ease,opacity .1s ease;
            }
            &:after {
                bottom: -5px;

                transition: bottom .1s .14s ease,transform .1s cubic-bezier(.55,.055,.675,.19);
            }
        }
    }

    .body.menu-open & {
        &__hamb {
            &__inner {
                background: #15141A;
                height: 2px;
                transform: rotate(45deg);
                transition-delay: .14s;
                transition-timing-function: cubic-bezier(.215,.61,.355,1);
                &:before {
                    top: 0;
                    opacity: 0;
                    transition: top .1s ease,opacity .1s .14s ease;
                }
                &:after {
                    bottom: 0;
                    transform: rotate(-90deg);
                    transition: bottom .1s ease,transform .1s .14s cubic-bezier(.215,.61,.355,1);
                }
            }
        }
    }
}
