extends _includes/layout

block content
    section.contacts
        .container
            .section__content
                h1.section__title.contacts__title Приходите в&nbsp;гости, пишите, звоните
                .contacts__list
                    .contacts-item.contacts-item--phone
                        .contacts-item__info
                            .contacts-item__label Поговорить с нами по телефону
                            a(href="tel:88312889354").contacts-item__link 8 (831) 2-889-354
                        .contacts-manager
                            .contacts-manager__photo
                                picture
                                    img.lazyload(src="assets/img/manager-photo.png" alt="")
                            .contacts-manager__text
                                .contacts-manager__message Меня зовут Ира, скорее всего вам отвечу именно я 👋
                                .contacts-manager__info Ирина Пшеницина, аккаунт-менеджер
                            
                    .contacts-item.contacts-item--email
                        .contacts-item__info
                            .contacts-item__label Написать нам на почту
                            a(href="mailto:hello@riverstart.ru").contacts-item__link hello@riverstart.ru
                        
                    .contacts-item.contacts-item--telegram
                        .contacts-item__info
                            .contacts-item__label Поговорить с нашим аккаунт-менеджером в Telegram
                            a(href="https://t.me/ekhohrin").contacts-item__link @ekhohrin
                        .contacts-item__photo
                            picture
                                img.lazyload(src="assets/img/manager-2-photo.png" alt="")

                                
    section.offices
        .container
            .offices__list
                .offices-item.offices-item--novgorod
                    .offices-item__photo
                        picture
                            source(type="image/png" media="(min-width:1800px)" data-srcset="assets/img/office-novgorod-xl.png")
                            source(type="image/png" media="(min-width:1280px)" data-srcset="assets/img/office-novgorod-lg.png")
                            source(type="image/png" media="(min-width:768px)"  data-srcset="assets/img/office-novgorod-md.png")
                            img.lazyload(data-src="assets/img/office-novgorod.png" alt="")
                    .offices-item__info
                        .offices-item__title Нижегородский офис
                        .offices-item__address ул. Рождественская, 26
                        a(href="tel:88312889354").offices-item__tel 8 (831) 2-889-354
                        .offices-item__way-point Как добраться
                            
                .offices-item.offices-item--moscow
                    .offices-item__photo
                        picture
                            source(type="image/png" media="(min-width:1920px)" data-srcset="assets/img/office-moscow-xl.png")
                            source(type="image/png" media="(min-width:1280px)" data-srcset="assets/img/office-moscow-lg.png")
                            source(type="image/png" media="(min-width:768px)"  data-srcset="assets/img/office-moscow-md.png")
                            img.lazyload(data-src="assets/img/office-moscow.png" alt="")
                    .offices-item__info
                        .offices-item__title Московский офис
                        .offices-item__address Новая площадь, 6
                        a(href="tel:84991124621").offices-item__tel 8 (499) 112-46-21
                        .offices-item__way-point Как добраться
                            
                .offices-item.offices-item--talin
                    .offices-item__photo
                        picture
                            source(type="image/png" media="(min-width:1920px)" data-srcset="assets/img/office-talin-xl.png")
                            source(type="image/png" media="(min-width:1280px)" data-srcset="assets/img/office-talin-lg.png")
                            source(type="image/png" media="(min-width:768px)"  data-srcset="assets/img/office-talin-md.png")
                            img.lazyload(data-src="assets/img/office-talin.png" alt="")
                    .offices-item__info
                        .offices-item__title Таллинский офис
                        .offices-item__address 3 korrus, Metro Plaza, Viru väljak 2
                        a(href="tel:+3726104253").offices-item__tel +372 610-42-53
            
